<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- #########################################################
         IMPORTANTE: modificare solo se si sa cosa si sta facendo.
         Per sicurezza creare una copia di backup di questo file.
         ######################################################### -->
    <!-- _________________________________________________________
                              Sezione variabili                                        
         _________________________________________________________ -->
    <!-- Livello di Log da stampare a video a su file 
          da 1 (solo commenti si sistema) 
          a 5  (massima verbosità) -->
    <add key="Log Level" value="5" />
    <!-- Database da prendere in considerazione -->
    <add key="DBS" value="DB2,ORACLE,SQLSERVER" />
    <!-- Cartella ROOT da esaminare, nella quale andare a prendere i file da processare (recursivamente)
         e dentro la quale verrà creata la cartella di OUTPUT -->
    <add key="Search Folder" value="D:\TEST\" />
    <!-- Cartella di OUTPUT dove verranno inseriti i file processati (ERwin e Excel). Tutte le cartelle con questo nome, anche subfolder indipendentemente da Destination Folder Unique verranno ignorate -->
    <add key="Destination Folder Name" value="Esiti Erwin" />
    <!-- Cartella di INPUT dove verranno reperiti i file Excel da processare. A partire dalla Search Folder i file da processare possono essere contenuti in folder e subfolder che hanno il nome indicato. Per prendere tutti gli excel indipendentemente dal percorso lasciare il parametro a vuoto -->
    <add key="Input Folder Name" value="Doc. Ricognizione" />
    <!-- Se vero i file da elaborare verranno copiati dalla 'Search Folder' in un'altra cartella (locale?) per l'elaborazione; il risultato verrà quindi reinserito nella 'Search Folder' originale -->
    <add key="Copy to Local" value="true" />
    <!-- Cartella di nella quale verrà riprodotta per l'elaborazione la struttura di 'Search Folder' nel caso 'Copy to Local' sia 'true'. -->
    <add key="Local Folder Name" value="Temp_Local" />
    <!-- Se vero la cartella do OUTPUT sarà una sola inserita in Search Folder, se falso ci saranno n cartelle per ciascun percorso degli excel esaminati -->
    <add key="Destination Folder Unique" value="false" />
    <!-- Crea delle copie dei file erwin durante il processo con suffisso _attr e _rel dopo la creazione degli attributi e delle relazioni -->
    <add key="CREACOPIEERWIN" value="true" />
    <!-- Cartella di OUTPUT dove verranno inseriti copie dei file erwin durante il processo -->
    <add key="PERCORSOCOPIEERWIN" value="CopieErwinTemplate" />
    <!-- Cartella di OUTPUT dove verranno inseriti copie dei file erwin durante il processo -->
    <add key="PERCORSOLOG" value="Logs" />
    <!-- Delimitatori riconosciuti per la parsificazione dei "nomi file".
         Sono riconosciuti i primi 10 (dieci) valori. Quelli in eccesso
         vengono scartati.
         Il delimitatore dell'elenco caratteri è rigorosamente '|'. -->
    <add key="File Name Delimiter" value="_|." />
    <!-- Elenco TIPI riconosciuti per il DB2 -->
    <add key="Database Name Delimiter" value="-" />
    <!-- Elenco TIPI riconosciuti per il DB2 -->
    <add key="DB2 Types" value="char|char()|varchar()|clob|clob()|date|time|timestamp|timestamp()|decimal|decimal()|decimal(,)|dec|dec()|dec(,)|numeric|numeric()|numeric(,)|integer|int|smallint|blob|blob()|binary|binary()" />
    <!-- Elenco TIPI riconosciuti per ORACLE -->
    <add key="ORACLE Types" value="char|char()|varchar()|clob|clob()|varchar2()|date|timestamp|timestamp()|decimal|decimal()|decimal(,)|dec|dec()|dec(,)|numeric|numeric()|numeric(,)|integer|int|smallint|number|number()|number(,)|blob|blob()" />
    <!-- Elenco TIPI riconosciuti per SQLSERVER -->
    <add key="SQLSERVER Types" value="char|char()|varchar|varchar()|xml|text|date|datetime|time|time()|timestamp|smalldatetime|datetime2|datetime2()|decimal|decimal()|decimal(,)|bit|bigint|double precision|float|float()|real|numeric|numeric()|numeric(,)|integer|int|smallint|money|smallmoney|tinyint|uniqueidentifier|binary|binary()|image|sql_variant|varbinary|varbinary()" />
    <!-- Elenco TIPI riconosciuti per il DB2 sui quali si effettuano controlli formali (numeri e date) -->
    <add key="DB2 Types FOR" value="date|time|timestamp|timestamp()|decimal|decimal()|decimal(,)|dec|dec()|dec(,)|numeric|numeric()|numeric(,)|integer|int|smallint" />
    <!-- Elenco TIPI riconosciuti per ORACLE  sui quali si effettuano controlli formali (numeri e date) -->
    <add key="ORACLE Types FOR" value="date|timestamp|timestamp()|decimal|decimal()|decimal(,)|dec|dec()|dec(,)|numeric|numeric()|numeric(,)|integer|int|smallint|number|number()|number(,)" />
    <!-- Elenco TIPI riconosciuti per SQLSERVER sui quali si effettuano controlli formali (numeri e date) -->
    <add key="SQLSERVER Types FOR" value="date|datetime|time|time()|timestamp|smalldatetime|datetime2|datetime2()|decimal|decimal()|decimal(,)|bit|bigint|double precision|float|float()|real|numeric|numeric()|numeric(,)|integer|int|smallint|money|smallmoney|tinyint|uniqueidentifier" />
    <!-- Sezione di definizione dello standard dei file Excel -->
    <add key="Header Row" value="3" />
    <add key="First Tables Column" value="1" />
    <add key="Last Tables Column" value="10" />
    <add key="Tables Columns Number" value="10" />
    <!-- sommati a "Last Tables Column", determina la colonna dove viene scritto il valore OK/KO nell'excel -->
    <add key="Tables Columns Offset 1" value="1" />
    <!-- sommati a "Last Tables Column", determina la colonna dove viene scritto il messaggio di errore in caso diKO nell'excel -->
    <add key="Tables Columns Offset 2" value="2" />
    <add key="First Attributes Column" value="1" />
    <add key="Last Attributes Column" value="18" />
    <add key="Attributes Columns Number" value="18" />
    <!-- sommati a "Last Attribute Column", determina la colonna dove viene scritto il valore OK/KO nell'excel -->
    <add key="Attributes Columns Offset 1" value="7" />
    <!-- sommati a "Last Attribute Column", determina la colonna dove viene scritto il messaggio di errore in caso diKO nell'excel -->
    <add key="Attributes Columns Offset 2" value="8" />
    <add key="First Relations Column" value="1" />
    <add key="Last Relations Column" value="10" />
    <add key="Relations Columns Number" value="10" />
    <!-- sommati a "Last Relation Column", determina la colonna dove viene scritto il valore OK/KO nell'excel -->
    <add key="Relations Columns Offset 1" value="1" />
    <!-- sommati a "Last Relation Column", determina la colonna dove viene scritto il messaggio di errore in caso diKO nell'excel -->
    <add key="Relations Columns Offset 2" value="2" />
    <!-- determina se nel documento di comparazione tra l'xls e il ddl le righe che non presentano differenze vengono visualizzate-->
    <add key="DDL Show Right Rows" value="true"/>
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>